body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
}

.link {
  color: black;
}
.link:hover {
  color: black;
  text-decoration: none;
}

.link-header {
  color: darkgray;
}
.link-header:hover {
  color: white;
  text-decoration: none;
}

.clearance {
  text-align: center;
  padding: 2rem;
}

.img-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
}

.image {
  /* background-image: url('smiley.gif'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.footer {
  flex-shrink: 0;
}

.header {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}
